<div class="blog-add-new-category">
    <div class="page-header">
        <h1>{{title}}<button type="button" class="btn btn-primary pull-right" ng-click="UpdatePage()">
            {{action}}
        </button></h1>
    </div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <h4>Title</h4>
    <input type="text" ng-change="MakeZeSlug()" ng-model="page.title" placeholder="Page Title"  class="form-control">
    <!--todo: category slug should be modified later-->
    <pre>Page slug: {{page.slug}}</pre>

    <h4>Body</h4>
    <div text-angular  ng-model="page.body"></div>


</div>



