<div class="blog-add-new-post">
  <div class="page-header">
    <h1>{{title}}<button type="button" class="btn btn-primary pull-right" ng-click="SaveGalimage()">
      {{action}}
    </button></h1>
  </div>
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <h4>Title</h4>
  <input type="text"  ng-model="galimage.title" placeholder="Image Title"  class="form-control">
  <!--todo: post slug should be modified later-->


  <h4>Gallery</h4>
  <select class="form-control" ng-model="galimage.img_gallery" >
    <option ng-repeat="galary in imggallery" value="{{galary.id}}">{{galary.name}}</option>
  </select>

  <h4>Description</h4>
  <textarea class="form-control" ng-model="galimage.details" rows="3"></textarea>

  <h4>Image</h4>
  <!--<input class="form-control" ng-model="blog.post_image" />-->
  <div class="button" ng-file-select ng-file-change="upload($files)" ng-multiple="multiple">Select File</div>
  <!--<div class="button" ng-file-select ng-file-change="upload($files)" ng-multiple="multiple">Select File</div>-->
  <img class="post-image" ng-src="{{image_path}}">

</div>
